$background-url: url("/portfolio/images/about_bg.png");
// $background-url: url("/images/about_bg.png");

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .home-container {
        background: $background-url;
        background-position: center center;
        background-attachment: fixed;
        height: 100vh;
        width: 100vw;
        background-size: cover;
    }

    .intro-container {
        position: absolute;
        border: 2px solid white;
        top: 30%;
        left: 30%;
    }

    .img-item {
        height: 200px;
        width: 200px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .home-container {
        background: $background-url;
        background-position: center center;
        background-attachment: fixed;
        height: 100vh;
        width: 100vw;
        background-size: cover;
    }

    .intro-container {
        position: absolute;
        border: 2px solid white;
        top: 30%;
        left: 30%;
    }

    .img-item {
        height: 150px;
        width: 150px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .home-container {
        background: $background-url;
        background-position: center center;
        background-attachment: fixed;
        height: 100vh;
        width: 100vw;
        background-size: cover;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .home-container {
        background: $background-url;
        background-position: center center;
        background-attachment: fixed;
        height: 100vh;
        width: 100vw;
        background-size: cover;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .home-container {
        background: $background-url;
        background-position: center center;
        background-attachment: fixed;
        height: 100vh;
        width: 100vw;
        background-size: cover;
    }
}
